.select2 {
    width: 100% !important;
}
.dropzone {
    border: dashed !important;
}
.dropzone:hover {
    background-color: #3333332f !important;
}

.dropzone .dz-preview.dz-image-preview {
    background: transparent !important;
}

.dropzone .dz-preview .dz-remove {
    color: #333;
}

.title-product {
    color: #333;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
}

.price {
    font-size: 24px;
    color: #333;
}

.img-list {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.title-page {
    white-space: normal;
    font-size: 15pt !important;
    color: #333;
}

label.requerido:after {
    content: " *";
    color: #e73d4a;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

body {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
}

.card-register{
    box-shadow: 0 0 14px #28b0f4 !important;
    border-bottom-color: #08c;
    border-left-color: #08c;
    border-right-color: #08c;
    border-top-color: #08c;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.card-login {
    box-shadow: 0 0 14px #28b0f4 !important;
    border-bottom-color: #08c;
    border-left-color: #08c;
    border-right-color: #08c;
    border-top-color: #08c;
    width: 400px;
    padding-bottom: 35px;
    padding-top: 35px;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.login-box {
    width: 400px;
}

.login-page {
    overflow: auto;
    background-size: cover;
}

li.user-header {
    height: auto !important;
    line-height: 0.3 !important;
}

.bg-gray {
    background-color: #cfcfcf !important;
    color: #000 !important;
}